.films-without-internet {
  background: url('../assets/images/iPhone.png') $background no-repeat bottom
    center / 220px;

  @include onMobileM {
    background: url('../assets/images/iPhone.png') $background no-repeat bottom
      center / 285px;
  }

  & .container {
    padding-top: 55px;

    @include onMobileM {
      padding-top: 85px;
    }
  }

  &__title {
    font-size: 24px;
    line-height: 36px;
    font-weight: 700;
  }

  &__text {
    font-size: 15px;
    line-height: 20px;
    opacity: 0.8;
  }
}
